<html ng-app="tw.ui.table.example">
    <head>
        <title>
            tw-ui-table example
        </title>
        <link rel="stylesheet" href="../bower_components/angular-material/angular-material.css"/>
        <link rel="stylesheet" href="../dist/tw-ui-table.css"/>
        <link rel="stylesheet" href="example.css"/>
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet"/>
    </head>

    <body ng-controller="MainController">
        <div layout="row">
            <div class="flex-80">
                <div style="height: 550px;border: 1px solid blue;">
                    <md-toolbar class="toolbar-place">
                        <div class="md-toolbar-tools">
                            <md-button class="md-icon-button" aria-label="Settings">
                                Settings
                            </md-button>
                            <h2>
                                <span>DEMO TEXT</span>
                            </h2>
                            <span flex></span>
                        </div>
                    </md-toolbar>
                    <tw-ui-table data="data"
                    total-count="totalCount"
                    is-loading="isLoading"
                    load-more-fn="largeData"
                    height-offset-value="heightOffsetValue"
                    selectable="true" item-clicked="showItemInConsole"
                    select-on-click="true" selection-changed="checkSelections"
                    selected-items="selectedItems" columns="columns"
                    hide-header="hideHeader" compact="compact"></tw-ui-table>
                </div>
             </div>
            <div class="flex-20">
                <p><button ng-click="addData()">add data</button></p>
                <p><button ng-click="addColumn()">add column</button></p>
                <p><button ng-click="switch()">Switch</button></p>
                <p><button ng-click="toggleHeader()">Toggle Header</button></p>
                <p><button ng-click="largeData()">10000 Rows</button></p>
            </div>
        </div>
        {{selectedItems}}
        <script src="../bower_components/angular/angular.js"></script>
        <script src="../bower_components/angular-animate/angular-animate.js"></script>
        <script src="../bower_components/angular-aria/angular-aria.js"></script>
        <script src="../bower_components/angular-material/angular-material.js"></script>
        <script src="../bower_components/angular-messages/angular-messages.js"></script>
        <script src="../dist/tw-ui-table.js"></script>
        <script src="example.js"></script>
    </body>

</html>
