<table ng-class="{'selectable':selectable}">
    <thead ng-if="!hideHeader">
        <tr>
            <th ng-if="selectable"></th>
            <th ng-if="!compact||!column.optional" ng-class="{'numeric':column.numeric}" ng-repeat="column in columns">{{column.title}}</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-class="{'selected':isItemSelected(item), 'clickable':itemClicked}" ng-repeat="item in data">
            <td ng-if="selectable">
                <md-checkbox aria-label="select" ng-checked="isItemSelected(item)" ng-click="toggleItemSelected(item)"/>
            </td>
            <td ng-if="!compact||!column.optional" ng-repeat="column in columns" ng-class="{'numeric':column.numeric}" ng-click="onItemClicked(item)">
                <span ng-if="!column.tooltipPath||!item[column.tooltipPath]">{{getCellText(item, column)}}</span>
                <span ng-if="column.tooltipPath && item[column.tooltipPath]" ng-click="showTooltip($event, item[column.tooltipPath])" class="has-tooltip">{{getCellText(item, column)}}</span>
            </td>
        </tr>
    </tbody>
</table>
