<section layout="row" class="tw-table-header" ng-if="!hideHeader" style="{{containerStyle}}">
    <div class="tw-table-cell tw-table-cell-check" ng-if="selectable">
        <md-checkbox aria-label="check all" ng-checked="allAreSelected()" ng-click="toggleAll()" />
    </div>

    <div class="tw-table-cell x{{column.size}}" ng-show="(!compact||!column.optional) &&! column.hide" ng-class="{'numeric':column.numeric,'tw-table-cell-command':column.type==='command','tw-table-cell-text':column.type!=='command'}" ng-repeat="column in columns">
        <div ng-if="column.sortable" ng-click="sort(column)" class="sort-handler">
            <span>{{column.title}}</span>
            <md-icon ng-show="sortField===column.path && sortDesc" md-font-set="material-icons">keyboard_arrow_down</md-icon>
            <md-icon ng-show="sortField===column.path && !sortDesc" md-font-set="material-icons">keyboard_arrow_up</md-icon>
        </div>
        <span ng-if="!column.sortable">{{column.title}}</span>
    </div>
</section>

<md-virtual-repeat-container style="{{containerStyle}}">
    <div class="tw-table-row" layout="row" md-virtual-repeat="item in data" ng-class="{'selected':isItemSelected(item), 'clickable':itemClicked}" ng-click="onItemClicked(item, $event)">
        <div ng-if="selectable" class="tw-table-cell tw-table-cell-check">
            <md-checkbox aria-label="select" ng-checked="isItemSelected(item)" ng-click="toggleItemSelected(item, $event)" />
        </div>
        <div ng-repeat="column in columns" ng-show="(!compact||!column.optional) && !column.hide" class="tw-table-cell x{{column.size}}" ng-class="{'tw-table-cell-command':column.type==='command','numeric':column.numeric,'tw-table-cell-text':column.type!=='command'}">
            <md-button ng-if="column.type==='command'" class="md-icon-button md-primary" ng-click="runCommand(column.commandName, item,$event)">
                <md-tooltip ng-if="column.tooltip">{{column.tooltip}}</md-tooltip>
                <md-icon md-font-set="material-icons">{{column.icon}}</md-icon>
            </md-button>

            <md-tooltip ng-if="column.tooltipFn&&column.type!=='command'">{{column.tooltipFn(item)}}</md-tooltip>
            <span ng-if="column.type!=='command'">{{getCellText(item, column)}}</span>
        </div>
    </div>

    <div class="md-padding" layout="row" layout-align="center center">
        <md-button class="md-primary" ng-click="loadMore()" ng-show="data.length<totalCount&&!isLoading">Load More</md-button>
        <md-progress-circular md-mode="indeterminate" ng-show="isLoading"></md-progress-circular>
        <span class="md-caption" ng-show="totalCount==0&&!isLoading">No item found.</span>
    </div>
</md-virtual-repeat-container>
