@color-black-6: rgba(0, 0, 0, .06);
@color-black-12: rgba(0, 0, 0, .12);
@color-black-87: rgba(0, 0, 0, .87);
@color-black-54: rgba(0, 0, 0, .54);
@color-white: #FFF;
@font-weight-regular: 400;
@font-weight-medium: 500;

tw-ui-table {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-x: auto;

    .md-virtual-repeat-container {
        flex-grow: 1;

        .md-virtual-repeat-scroller {
            overflow-y: auto;
        }
    }

    .tw-table-header {
        height: 56px;
        align-items: center;
        font-size: 12px;
        font-weight: @font-weight-medium;
        color: @color-black-54;
        border-width: 0 0 1px 0;
        border-style: solid;
        border-color: @color-black-6;
    }

    .tw-table-cell {
        &.tw-table-cell-text {
            width: 75px;
            min-width: 75px;
            padding-left: 24px;

            &.x2 {
                width: 150px;
                min-width: 150px;
            }

            &.x3 {
                width: 225px;
                min-width: 225px;
            }

            &.x4 {
                width: 300px;
                min-width: 300px;
            }

            span {
                display: block;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }

        &.tw-table-cell-text ~ .tw-table-cell-text {
            padding-left: 56px;
        }

        &.numeric {
            text-align: right;
        }

        &.tw-table-cell-check {
            padding-left: 24px;
        }

        &.tw-table-cell-command {
            padding: 0;
            width: 52px;
        }

        .sort-handler {
            outline: none;
            cursor: pointer;
            color: #2196F3;
        }
    }

    .tw-table-row {
        align-items: center;
        outline: none;
        min-height: 48px;
        border-width: 0 0 1px 0;
        border-style: solid;
        border-color: @color-black-12;

        .tw-table-cell {
            font-size: 13px;
            color: @color-black-87;
        }

        &.selected:hover,
        &:hover {
            background-color: #EEE;
        }

        &.selected {
            background-color: #F5F5F5;
        }

        &.clickable {
            cursor: pointer;
        }
    }
    .tw-table-loading-placeholder{
        height: 5px;
    }

    md-checkbox {
        margin-bottom: 0;
    }
}
